@font-face {
  font-family: Entalphy;
  src: url(../fonts/enthalpy298regular.otf);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  /* border: 1px solid green; */
}

body {
  font-family: Entalphy;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-justify {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.gap4px {
  gap: 4px
}

.gap10px {
  gap: 10px;
}

.gap14px {
  gap: 14px
}

.gap20px {
  gap: 20px;
}

.gap30px {
  gap: 30px
}